* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: ArchivoRegular;
    font-size: 18pt;
    padding-bottom: 50px;
    background: #241F1F;
    color: #BEBCBC;
}

p {
    text-align: center;
    color: #CA9E60;
}

header {
    font-family: ArchivoNarrowRegular;
    overflow: hidden;
    padding: 30px 10px 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: #8F8C8C;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

header a:hover {
    color: #CA9E60;
}

header a.active {
    color: #E9E8E8;
}

.home {
    margin: 0 auto;
    width: 11em;
    font-size: 35px;;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center
}

footer {
    text-align: center;
    padding-top: 50px;
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
    width: auto;
    height: auto;
    max-width: 100%;
    transition: 0.5s;
    padding: 50px;
    width: 200px;
    filter: grayscale(100%);
}

.gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
    .home {
        font-size: 30px;
    }
    
    footer {
        font-size: 15pt;
    }
    
    .gallery img {
        max-width: 200px;
    }
}

@media screen and (max-width: 640px) {
    .home {
        font-size: 25px;
    }

    footer {
        font-size: 12pt;
    }
}