/*
Colour scheme
#303030
#bebcbc
#ca9e60
*/

.overlay1 {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay1 p {
    font-size: 15vw;
}

.screen {
    color: #303030;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
}

.screen.shrink {
    animation: shrink 0.6s ease-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    from {
        letter-spacing: 0.5em;
        margin-right: -0.5em;
    }

    to {
        letter-spacing: 0em;
        margin-right: 0em;
    }
}

.overlay2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #ca9e60;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: block;
    padding: 25px 50px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: solid 2px #fff;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    transition: 0.5s ease-out;
}

.btn:hover {
    color: #101010;
}

.btn:before {
    content: '';
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.5s ease-out;
}

.btn:hover:before {
    top: 0;
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding-bottom: 5px;
    color: rgb(150, 150, 150, 0.8);
    transition: color .2s ease;
}

li a:hover {
    color: #ca9e60;
}

.cool:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .2s ease;
}

.cool:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #ca9e60;
    transition: width .2s ease;
}

.cool:hover:before {
    width: 100%;
    background: #ca9e60;
    transition: width .2s ease;
}

.cool:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}