/*
Colour scheme
#303030
#bebcbc
#ca9e60
*/

.overlay1 {
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay1 p {
    font-size: 15vw;
    letter-spacing: 0.5em;
    margin-right: -0.5em;
}

.screen {
    color: #323232;
}

.overlay2 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #CA9E60;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: block;
    padding: 25px 50px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 6px;
    color: #fff;
    border: solid 2px #fff;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    transition: 0.5s ease-out;
}

.btn:hover {
    color: #101010;
}

.btn:before {
    content: '';
    position: absolute;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.5s ease-out;
}

.btn:hover:before {
    top: 0;
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    display: inline-block;
    color: #8F8C8C;
}

.cool::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #CA9E60;
    transition: width .3s;
}

.cool:hover::after {
    width: 100%;
    transition: width .3s;
}