/*
Colour scheme
#303030
#bebcbc
#ca9e60
*/

.gooey {
    display: none;
}

.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
    position: absolute;
    left: 50%;
    bottom: 20%;
    box-sizing: border-box;
}

.menu-item, .menu-open-button {
    background: #bebcbc;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: #303030;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-item {
    font-size: 0.8em;
}

.menu-item:active {
    color: #303030;
}

.menu-open {
    display: none;
}

.menu-item:nth-child(3) {
    transition-duration: 150ms;
}
.menu-item:nth-child(4) {
    transition-duration: 250ms;
}
.menu-item:nth-child(5) {
    transition-duration: 150ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 300ms;
    -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
    transform: translate3d(77.18543px, -85.2491px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 200ms;
    -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
    transform: translate3d(0.09158px, -114.99996px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 300ms;
    -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
    transform: translate3d(-77.04956px, -85.37192px, 0);
}

@media screen and (max-width: 500px) {
    .gooey {
        display: initial;
    }
}