/*
Colour scheme
#303030
#bebcbc
#ca9e60
*/

.modal {
    color: #303030;
}

.modal-dialog {
    max-width: 40%;
}

.modal-content {
    background-color: #bebcbc;
}

.modal-header {
    align-items: center;
}

.modal-header .modal-title {
    font-size: 1em;
    text-align: left;
}

.modal-header .modal-title span {
    display: inline-block;
}

.modal-header .close {
    padding: 0.7em 0;
    font-size: 1em;
    text-indent: 0.5em;
    transition: 0.5s;
}

.modal-header .close:hover {
    color: red;
    transition: 0.25s;
}

.modal-body {
    margin: 0 auto;
}

.modal-body ul {
    padding: 0px;
    margin: 0 auto;
}

.modal-body li {
    list-style: none;
    text-align: left;
}

.modal-body li div {
    display: inline-block;
    transition: all 0.25s ease-in-out;
}

.modal-body li a {
    color: #303030;
}

.modal-body li div:hover {
    transform: translateX(10px);
}

.modal-body li div:hover a {
    text-decoration: none;
}

.modal-body div.email {
    padding: 1.5em;
}

.softwarebtn, .worksbtn {
    color: rgba(190, 188, 188, 0.5);
    transition: all 0.25s ease;
}

.softwarebtn:hover, .worksbtn:hover {
    text-decoration: none;
    color: #ca9e60;
    letter-spacing: 1px;
}

.modal-works {
    padding: 1em 0em;
}

@media screen and (max-width: 500px) {
    .modal {
        font-size: 1.15em;
    }

    .modal-dialog {
        max-width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .modal {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 320px) {
    .modal {
        font-size: 1.05em;
    }
}