body, html {
    height: 100%;
}

.parallax1, parallax2, parallax3 {
    position: relative;
}

.parallax1 {
    background: #241F1F;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    background-image: url('../images/bg/1.jpg');
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    height: 20%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    background-image: url('../images/bg/2.png');
    background-color: rgba(0,0,0,0.7);
    background-blend-mode: overlay;
    height: 20%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}