/*
Colour scheme
#303030
#bebcbc
#ca9e60
*/

@font-face {
    font-family: CuprumRegular;
    src: url('../fonts/Cuprum-Regular.ttf');
}

@font-face {
    font-family: ArchivoNarrowRegular;
    src: url('../fonts/ArchivoNarrow-Regular.otf');
}

@font-face {
    font-family: UniqueRegular;
    src: url('../fonts/Unique.ttf');
}

@font-face {
    font-family: JPRegular;
    src: url('../fonts/MPLUSRounded1c-Regular.ttf');
}

@font-face {
    font-family: CNSerif;
    src: url('../fonts/NotoSerifSC-Regular.otf');
}

@font-face {
    font-family: CNSans;
    src: url('../fonts/NotoSansSC-Light.otf');
}

* {box-sizing: border-box;}

body {
    margin: 0 auto;
    font-family: CuprumRegular;
    font-size: 18pt;
    padding-bottom: 50px;
    background: #303030;
    color: #bebcbc;
}

p {
    text-align: center;
    color: #ca9e60;
}

.header {
    font-family: ArchivoNarrowRegular;
    font-size: 1em;
    overflow: hidden;
    padding-top: 40px;
    text-align: center;
}

.active {
    color: #ca9e60;
}

span.space {
    padding-left: 50px;
}

.ajax-skills {
    width: 50%;
    margin: 0 auto;
}

.ajax-intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajax-skills, .ajax-contact{
    display: none;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    max-width: 15vw;
}

#fontchange {
    padding-left: 20px;
}

.en {
    font-family: CuprumRegular;
}

.jp {
    font-family: JPRegular;
}

.cn {
    font-family: CNSans;
}

.eng {
    float: left;
    display: inline-block;
    font-size: 2em;
}

.engname {
    font-family: UniqueRegular;
    font-size: 2.5em;
    color: #CA9E60;
}

.jap {
    font-family: JPRegular;
    float: left;
    display: inline-block;
    font-size: 1.6em;
}

.japname {
    font-size: 3.1em;
    color: #ca9e60;
}

.chn {
    font-family: CNSans;
    float: left;
    display: inline-block;
    font-size: 1.6em;
}

.chnname {
    font-family: CNSerif;
    font-size: 2.6em;
    color: #ca9e60;
}

th, tr, td{
    text-align: center;
    width: 250px;
}

th {
    color: #ca9e60;
}

article {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang {
    padding-top: 15px;
    font-size: 0.7em;
}

.center {
    text-align: center;
}

.about a:link{
    color: inherit;
}

.about a:visited{
    color: inherit;
}

.button_lang {
    background-color: #444;
    color: #FFF;
    padding: 5px 20px;
    border-radius: 5px;
    width: auto;
    display: inline;

    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.button_lang:hover, .current_lang {
    cursor: pointer;
    background-color: #777;	
    -webkit-transition: background-color .1s ease-in-out;
    -moz-transition: background-color .1s ease-in-out;
    -o-transition: background-color .1s ease-in-out;
    -ms-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@media screen and (max-width: 1280px) {
    .eng {
        font-size: 1.5em;
    }

    .jap {
        font-size: 1.1em;
    }

    .chn {
        font-size: 1.2em;
    }

    .ajax-skills {
        width: 90%;
        font-size: 0.9em;
    }

    .content {
        top: 50%;
    }
}

@media screen and (max-width: 640px) {
    .eng {
        font-size: 1em;
    }

    .jap {
        font-size: 0.8em;
    }

    .chn {
        font-size: 0.8em;
    }

    .ajax-skills {
        font-size: 0.8em;
    }

    th, tr, td {
        width: 150px;
    }
}