/*
Colour scheme
#303030
#bebcbc
#ca9e60
*/

@font-face {
    font-family: UniqueRegular;
    src: url('../fonts/Unique.ttf');
}

* {box-sizing: border-box;}

html, body {
    min-height: 100vh;
    overflow: hidden;
}

body {
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    font-size: 1.5em;
    background: #303030;
    color: #bebcbc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 100vw;
    height: 100vh;
}

.header {
    font-size: 1em;
    padding-top: 30px;
    text-align: center;
}

.tablehead {
    max-width: 100%;
}

.links {
    margin: 0 auto;
}

.lang {
    padding-top: 15px;
    font-size: 0.7em;
    margin: 0 auto;
}

.button_lang {
    color: #bebcbc;
    padding: 5px 20px;
    margin: 0px 5px;
    border-radius: 15px;
    width: 100px;
    display: inline-block;
}

.current_lang {
    background: #ca9e60;
    color: #303030;
}

.tdlinks {
    width: 250px;
    padding: 0px;
}

.tdlang {
    width: 100px;
    padding: 0px;
}

.active {
    color: #ca9e60;
}

.imglogo {
    max-width: 10vw;
    float: left;
}

.about {
    font-size: 1.5em;
    max-width: 80%;
    margin: 0 auto;
}

table {
    margin: 0 auto;
    text-align: center;
}

.tableskills {
    width: 60%;
}

th, tr, td {
    text-align: center;
    width: 400px;
    padding: 10px 0px;
}

th {
    color: #ca9e60;
}

hr {
    width: 50%;
}

.icons {
    font-size: 2em;
}

.icons i {
    color: #ca9e60;
}

.icons i:hover {
    transform: scale(1.3);
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #000;
}

.fa-twitter-square:hover {
    color: #38A1F3;
}

.fa-telegram:hover {
    color: #0088cc;
}

.fa-line:hover {
    color: #00b900;
}

.fa-weixin:hover {
    color: #1AAD19;
}

.icon-top, .icon-bot {
    padding-top: 20px;
}

.ajax-intro {
    margin: 0 auto;
    width: 80%;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajax-skills {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
}

.ajax-contact {
    padding-top: 20px;
}

.ajax-skills, .ajax-contact{
    display: none;
    text-align: center;
}

#fontchange {
    padding-left: 20px;
}

.rad-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.rad-out:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ca9e60;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.rad-out:hover{
    color: #303030;
}

.rad-out:hover:before{
    -webkit-transform: scale(2);
    transform: scale(2);
}

.en {
    font-family: 'Inconsolata', monospace;
}

.jp {
    font-family: 'Noto Sans JP', sans-serif;
}

.cn {
    font-family: 'Noto Sans SC', sans-serif;
}

.eng {
    float: left;
    display: inline-block;
    font-size: 2em;
}

.engname {
    font-family: UniqueRegular;
    font-size: 3.1em;
    color: #CA9E60;
}

.jap {
    font-family: 'Noto Sans JP', sans-serif;
    float: left;
    display: inline-block;
    font-size: 1.6em;
}

.japname {
    font-size: 3.1em;
    color: #ca9e60;
}

.chn {
    font-family: 'Noto Sans SC', sans-serif;
    float: left;
    display: inline-block;
    font-size: 1.6em;
}

.chnname {
    font-family: 'Noto Serif SC', serif;
    font-size: 2.6em;
    color: #ca9e60;
}

.noshow {
    display: none;
}

.warning {
    display: none;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 1em;
    width: 100%;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

@media screen and (max-width: 1440px) {
    .eng {
        font-size: 1.5em;
    }

    .jap {
        font-size: 1.2em;
    }

    .chn {
        font-size: 1.4em;
    }

    .icons {
        font-size: 2em;
    }

    .tableskills {
        width: 70%;
    }

    th, tr, td {
        width: 300px;
    }

    .ajax-skills {
        font-size: 0.9em;
    }

    .ajax-contact {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 1280px) {
    .eng {
        font-size: 1.2em;
    }

    .jap {
        font-size: 1em;
    }

    .chn {
        font-size: 1.2em;
    }

    .icons {
        font-size: 2em;
    }

    .tableskills {
        width: 90%;
    }

    th, tr, td {
        width: 300px;
    }

    .ajax-skills {
        font-size: 0.9em;
    }

    .ajax-contact {
        font-size: 0.8em;
    }

    .warning {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .eng {
        font-size: 0.8em;
    }

    .jap {
        font-size: 0.6em;
    }

    .chn {
        font-size: 0.7em;
    }

    .links {
        font-size: 0.7em;
    }

    .lang {
        font-size: 0.5em;
    }

    .tdlinks {
        width: 150px;
    }

    .icons {
        font-size: 2em;
    }

    .padding {
        padding: 10px;
    }

    .tableskills {
        width: 90%;
    }

    th, tr, td {
        width: 100px;
    }

    .ajax-skills {
        font-size: 0.6em;
    }

    .ajax-contact {
        font-size: 0.5em;
    }

    .warning {
        font-size: 0.6em;
    }
}