@font-face {
  font-family: CuprumRegular;
  src: url('../fonts/Cuprum-Regular.ttf');
}

@font-face {
  font-family: ArchivoNarrowRegular;
  src: url('../fonts/ArchivoNarrow-Regular.otf');
}

@font-face {
  font-family: UniqueRegular;
  src: url('../fonts/Unique.ttf');
}

* {box-sizing: border-box;}

body {
    margin: 0 auto;
    font-family: CuprumRegular;
    font-size: 18pt;
    padding-bottom: 50px;
    background: #241F1F;
    color: #BEBCBC;
}

p {
    text-align: center;
    color: #CA9E60;
}

header {
    font-family: ArchivoNarrowRegular;
    overflow: hidden;
    padding: 30px 10px 50px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header a {
    color: #8F8C8C;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

header a:hover {
    color: #CA9E60;
}

header a.active {
    color: #E9E8E8;
}

.center {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 50px;
}

.gallery {
    margin: auto;
}

.gallery img {
    width: auto;
    height: auto;
    max-width: 100%;
    transition: 0.5s;
    padding: 20px;
    width: 200px;
    filter: grayscale(100%);
}

.gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.about a:link{
    color: inherit;
}

.about a:visited{
    color: inherit;
}

@media screen and (max-width: 1280px) {
    .gallery img {
        max-width: 50%;
    }
}

@media screen and (max-width: 640px) {
}