/*
Colour scheme
#303030
#bebcbc
#ca9e60
*/

@font-face {
    font-family: UniqueRegular;
    src: url('../fonts/Unique.ttf');
}

html, body {
    background-color: black;
    overflow: hidden;
}

.wrap {
    display: flex;
    align-items: center;
    height: 100vh;
}

.notice {
    color: #bebcbc;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
}

.notice-en {
    font-family: 'Inconsolata', monospace;
}

.notice-jp {
    font-family: 'Noto Sans JP', sans-serif;
}

.notice-cn {
    font-family: 'Noto Sans SC', sans-serif;
}